body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    border: solid 5px;
    max-width: 850px;
    max-height: 850px;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    font-weight: bold;
}